@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html { color-scheme: light dark; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  body { background-color: #0f172a; color: white; }
}

body {
  background: var(--background);
  background-color: white; color: #0f172a;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
